* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: rgb(236, 23, 77);
  --secondary: #0b1e49;
  --white: #fafafa;
  --l-gray: #dddddd;
  --gray: #c5c5c5;
  --black: #0a0a0a;
}

h1 {
  font-size: 52px;
  font-weight: 500;
}
